* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.wrap {
  width: 100%;
  height: 100vh;
  background-image: url("../image/background.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
}
.wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all 0.5s ease;
}
/* 사용자가 웹앱을 사용되었다는 것을 화면상으로 인식 */
.wrap:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}
/* 할일 미 작성시 모달창 */
.wrn-msg-container {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  backdrop-filter: blur(1.5px);
  display: none;
}
.msg-container {
  background-color: #cab8b8;
  width: 160px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.wrn-msg {
  color: #c57a5c;
  font-weight: 900;
}
.wrn-button {
  color: rgb(64, 135, 216);
  font-size: 0.8rem;
  background-color: #cec8c8;
}
.container {
  padding: 10px;
  background-color: #fcf2f2;
  min-width: 50%;
  height: 100vh;
  z-index: 3;
  /* shodaw gerate 사용 */
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  position: relative;
}
.input-container {
  display: flex;
}
.todo-header-title {
  text-align: center;
}
.todo-header {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.member-container {
  display: flex;
}
.padding-10px {
  padding: 10px;
}
.fontsize-rem {
  font-size: 0.7rem;
}
.box-cursor {
  border: 1px solid rgb(243, 217, 217);
  width: 67px;
  border-radius: 20px;
  transition: all 0.5s ease;
  text-align: center;
}
.box-small-cursor {
  border: 1px solid rgb(243, 217, 217);
  width: 50px;
  border-radius: 20px;
  transition: all 0.5s ease;
  text-align: center;
}
.box-cursor:hover {
  background-color: #f7f3d4;
  cursor: pointer;
  color: #6299e6;
}
.box-small-cursor:hover {
  background-color: #f7f3d4;
  cursor: pointer;
  color: #6299e6;
}
.borderradius-right-none {
  border-radius: 20px 0px 0px 20px;
}
.borderradius-left-none {
  border-radius: 0px 20px 20px 0px;
}
.borderradius-bottom-none {
  border-radius: 20px 20px 0px 0px;
}

.outline-none {
  outline: none;
}

.todo-main {
  padding: 30px;
}
.todo-state {
  display: flex;
  justify-content: center;
}
.box-big-cursor {
  border: 1px solid rgb(243, 217, 217);
  width: 100px;
  transition: all 0.5s ease;
  text-align: center;
  padding: 10px;
}
.box-big-cursor:hover {
  background-color: #f7f3d4;
  cursor: pointer;
  color: #6299e6;
}
.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(243, 217, 217);
  padding: 10px;
}
.complete {
  text-decoration: line-through;
}

@media (max-width: 650px) {
  .todo-header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .member-container {
    order: 1;
  }
  .input-container {
    order: 2;
  }
  .font-small {
    font-size: 0.8rem;
  }
  .task {
    flex-direction: column;
    align-items: center;
  }
  .state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
